@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow-x: hidden;
}

.link-nav {
  position: relative;
}

.link-nav::after {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #B89D52;
  transition: width 0.3s ease;
}

.link-nav:hover::after {
  width: 100%;
}

